@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');


h1,
h2,
h5,
h6,
label,
.btn,
.card-title {
  font-family: 'Comfortaa', cursive;
}

.card,
.form-control {
  font-family: 'Oxygen', sans-serif;
  font-size: 15px;
}

.header {
  height: 150px;
  width: 100%;
  top: 0;
  padding-top: 15px;
  border: 1px solid #BFBFBF;
  box-shadow: 0px 4px 5px #aaaaaa;

}

.header {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-footer,
i {
  text-align: right;
  padding-right: 5px;
  cursor: pointer;
}